
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body {
	padding-top:30%;
	background-color: #fff;
	color: #545454;	
	font: 14px/20px "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; background-size: cover;
}

@media only screen and (orientation: portrait) {
    body {
	    background-image: url(./assets/images/Background_Portrait.jpg);
   }
}

@media only screen and (orientation: landscape) {
    body {
	    background-image: url(./assets/images/Background_Landscape.jpg);
   }
}

header {background-color: #FFF; width: 100%; margin: 0 auto; position: relative; padding: 20px 0; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
.logo { font-size: 28px; color: #333; }

nav ul { margin: 0; }
nav ul li { display: inline; margin-right: 20px; font-size: 16px; line-height: 28px; color: #333; }
nav ul li a { color: #333; }

.container { position: relative; text-align: left; width: 960px; max-width: 90%; margin: 0 auto; }

footer { border-top:1px solid #ccc; font-size:11px; line-height:26px; color:#999; text-align:center;}
footer a { color:#999999; }
footer a:hover { color:#105CB6; }
footer ul li { display:inline; list-style:none; padding-left:20px; }

#mc_embed_signup{
	width: 25%;
 	margin: 0 auto;
 	background-color:white;
 	opacity: 0.9;
 	text-align: center;
 	border-radius: 15px;
 	padding:20px;

}

#mc-embedded-subscribe {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

a { color: #105CB6; text-decoration: none; }
a:hover, a:focus { color: #105CB6; text-decoration: underline; }
a:active { color: #105CB6; }

h1 { font-size: 35px; line-height: 36px; margin-bottom: 20px; }
h2 { font-size: 24px; line-height: 30px; margin-bottom: 20px; }
h3 { font-size: 20px; line-height: 20px; margin-bottom: 10px; }
h4 { font-size: 16px; line-height: 20px;}
h5 { font-size: 14px; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 12px; line-height: 20px; margin-bottom: 20px; }
h1,h2,h3,h4,h5,h6 { color: #333; }

.float-left     { float: left; }
.float-right    { float: right; }
img.float-left  { float: left; margin: 0 20px 20px 0; width:100%; height:100%; }
img.float-right { float: right; margin: 0 0 20px 20px; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
img:hover {
    opacity: 0.65;
    filter: alpha(opacity=50); 
}

#social-icons {
	width: 50%;
 	margin: 0 auto;
	text-align: center;
}

.text-left 	  { text-align: left; }
.text-center { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

#footer {
	padding-top:15px;
	font-size: 16px; line-height: 20px;
	color:black;
	background-color: white;
	opacity: 0.5;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    overflow:hidden;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
	border-color:#dfdfdf;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-bottom:2%;
	
}

#toc {
	list-style: none;
	margin-bottom: 20px;
}
#toc li {
	background: url(dot.gif) repeat-x bottom left;
	overflow: hidden;
	padding-bottom: 2px;
}
#toc a,
#toc span {
	display: inline-block;
	background: #fff;
	position: relative;
	bottom: -4px;
}
#toc a {
	float: right;
	padding: 0 0 3px 2px;
}
#toc span {
	float: left;
	padding: 0 2px 3px 0;
}